tests/tests.ipynb
tests/test.py
tests/__pycache__/Expresion_diferencial.cpython-39.pyc
tests/__pycache__/Expresion_diferencial.cpython-310.pyc
src/full_data.csv
src/__pycache__/Expresion_diferencial.cpython-39.pyc
src/__pycache__/Expresion_diferencial.cpython-310.pyc
src/__pycache__/logger.cpython-310.pyc
tests/Expresion_diferencial.py
tests/Informacion_Genes.py
